
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
  }

  /*Header*/
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top ease 0.5s;
  }
  #header.cache {
    top: -50px;
  }
  #head {
    background: transparent;
    margin: 0%;
    padding: 0%;
    display: flex;
    height: 50px;
    justify-content: space-between;
  }
  
  .haut-gauche {
    display: flex;
  
  }
  
  .haut-gauche a {
    padding: 10px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.1)
  }
  
  .haut-gauche a:hover {
    background-color: #007c74;
  }
  
  form {
    margin: auto;
    color: #fff;
  
  }
  
  #email {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    width: 165px;
    font-weight: 700;
    font-size: 0.875rem;
    color: #fff;
  }
  
  #email::placeholder{
    color: #fff;
  }
  
  #submit {
    margin: 0;
    background-color: #007c74;
    border: none;
    font-weight: 600;
    font-size: 0.875rem;
    color: #fff;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -4px;
  }
  
  .haut-droite{
    display: flex;
    justify-content: space-between;
    width: 35%;
  }
  
  .haut-droite a{
    text-decoration: none;
    color: #fff;
    margin: auto;
    padding-left: 20px;
  }
  .haut-droite a:hover{
    color: #007c74;
  }
  .carnet{
    background: url(image/icon/silhouette-de-forme-simple-de-coeur.png) no-repeat;
    background-size: contain;
  }
  
  .carnet:hover{
    background: url(image/icon/silhouette-de-forme-simple-de-coeur2.png) no-repeat;
    background-size: contain;
  }
  
  .espace{
    background: url(image/icon/profil.png) no-repeat;
    background-size: contain;
  }
  .espace:hover{
    background: url(image/icon/profil2.png) no-repeat;
    background-size: contain;
  }
  .navigation {
    background: #fff;
    display: flex;
    height: 80px;
  }
  
  .euro {
    height: 50px;
    margin: 10%;
    margin-top: 13px;
  }
  .eurovelo{
    height: 50px;
    margin-left: 10%;
    margin-top: 13px;
  }
  ul{
    width: 40%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  li{
    display: inline;
  }
  li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  li a:hover{
    color: #007c74;
  }
  .espace img{
    width: 27px;
  }
  .espace{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #loupe{
    height: 30%;
    margin-left: 45%;
    margin-top: 30px;
  }
  #loupe.afficher {
    display: none;
  }
  #croix {
    display: none;
    height: 20%;
    margin-left: 45%;
    margin-top: 33px;
  
  }
  #croix.afficher {
    display: block;
  }
  #recherche {
    display: none;
  }
  
  #recherche.afficher {
    display: block;
  }
  
  #search{
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 1%;
    color: #fff;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 5px;
  }
  
  #search::placeholder{
    color: #fff;
  }


/*main*/


main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.carousel img{
    width: 100vw;
}
.conteneurcarte{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 1000px;
    background-color: blue;
    box-sizing: border-box;
    margin-left: 300px;
    margin-right: 300px;
}
.descriptif{
    background-color: aliceblue;
    width: 600px;
    height: 500px;
    margin-top: 100px;
    text-align: center;
}
.descriptif h2{
    font-size: 2em;
}
.carte{
    background-color: aliceblue;
    width: 653px;
    height: 800px;
    margin-top: 100px;
    margin-left: 50px;
}
.accueilvelo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    width: 100%;
    height: 300px;
    margin-left: 300px;
    margin-right: 300px;
}
.temoignages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(/images/imagesbg/ilonfait.jpg);
    background-size: cover;
    width: 100%;
    height: 690px;
    margin: 0;
}
.avis{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    width: 100%;
    height: 690px;
    margin-left: 100px;
    margin-right: 100px;
}
.articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aquamarine;
    width: 100%;
    height: 1200px;
    margin-left: 100px;
    margin-right: 100px;
}
.voyages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(/images/imagesbg/voyages.jpg);
    background-size: cover;
    width: 100%;
    height: 790px;
}

/*Footer*/

.footh{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(/images/imagescarousel/image1.jpg);
    background-size: cover;
    width: 100%;
    height: 350px;
}
.qsn1 {
    width: 65px;
    height: 65px;
}
.qsn2 {
    height: 65px;
}
.headfoot{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 300px;
    margin-right: 300px;
    align-items: center;
    justify-content: space-between;
}
.logod img{
    width: 25px;
    margin-right: 5px;
    
}
.fcontenu{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 300px;
    margin-right: 300px;
}
.fcontenu p{
    line-height: 25px;
}
.quisommesnous{
    width: 60%;
}
.fboutons{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.fboutons a{
    text-decoration: none;
    font-weight: bold;
}
.btnb p{
    color: #007c74;
    background-color: white;
    width: 140px;
    display:block;
    padding: 7px 20px 7px 20px;
    text-align:center;
    border-radius: 6px;
    margin-left: 320px;
    margin-top: 40px;
    box-shadow: 0px 0px 5px lightslategray;
    
}
.btnv p{
    color: white;
    background-color: #007c74;
    width: 240px;
    display:block;
    padding: 7px 20px 7px 20px;
    text-align:center;
    border-radius: 6px;
    margin-left: 30px;
    margin-top: 40px;
    box-shadow: 0px 0px 5px lightslategray;
}
.footm1{
    width: 100%;
    height: 158px;
    background-color: aliceblue;
}
.footm2{
    width: 100%;
    height: 170px;
}
.footb{
    width: 100%;
    height: 70px;
    background-color: black;
}





