body{
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    z-index: 2;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

nav{
    background-color: white;
    width: 100%;
    height: 81px;
    margin-top: 0;
    position: absolute; 
    z-index: 1;
    position: fixed;
}

.carousel img{
    width: 100%;
}
.conteneurcarte{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 1000px;
    background-color: blue;
    box-sizing: border-box;
    margin-left: 300px;
    margin-right: 300px;
}
.descriptif{
    background-color: aliceblue;
    width: 600px;
    height: 500px;
    margin-top: 100px;
    text-align: center;
}
.descriptif h2{
    font-size: 2em;
}
.carte{
    background-color: aliceblue;
    width: 653px;
    height: 800px;
    margin-top: 100px;
    margin-left: 50px;
}
.accueilvelo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    width: 100%;
    height: 300px;
    margin-left: 300px;
    margin-right: 300px;
}
.temoignages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(/images/imagesbg/ilonfait.jpg);
    background-size: cover;
    width: 100%;
    height: 690px;
    margin: 0;
}
.avis{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    width: 100%;
    height: 690px;
    margin-left: 100px;
    margin-right: 100px;
}
.articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aquamarine;
    width: 100%;
    height: 1200px;
    margin-left: 100px;
    margin-right: 100px;
}
.voyages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(/images/imagesbg/voyages.jpg);
    background-size: cover;
    width: 100%;
    height: 790px;
}
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(/images/imagescarousel/image2.jpg);
    
    background-size: cover;
    width: 100%;
    height: 350px;
}



