body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
}

/* Article */
#titreEtape {
    padding-left: 15px;
    color: #007c74;
    font-weight: 900;
}

#texteEtape {
    padding: 0 15px 0 15px;
    font-weight: 500;
}

.description {
    overflow: scroll;
    align-self: flex-end;
    justify-content: space-between;
    width: 40vw;
    height: 87vh;
}

.infos {
    background-color: #f59c00;
    width: 41vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1vw;
}

#img {
    width: 100%;
}

.infos span {
    padding: 15px;
    font-weight: 600;
}

.iconeEtape {
    width: 25px;
    height: 25px;
    margin-left: -5px;
}

/* Fin article */
/* Bouton download */
.download {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    position: fixed;
    width: 41vw;
    margin-left: -1vw;
    bottom: 0px;
    left: 0px;
    box-shadow: 0 0 10px black;
}

.download a {
    display: flex;
    align-items: center;
    color: #007c74;
    text-decoration: none;
    font-weight: 900;
    font-family: Poppins, sans-serif;
}

.download a img {
    width: 40px;
}

/* Fin bouton download */
/* Bouton retour */
#bouton {
    position: fixed;
    left: 700px;
    top: 140px;
    width: 40px;
}

#bouton:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

/* Fin du bouton retour */
/* Style carte */
#map {
    z-index: 0;
    align-self: flex-end;
    width: 60vw;
    height: 87vh;
}

.leaflet-popup-content-wrapper {
    background-color: hsla(176, 100%, 24%, 0.8);
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    color: white;
    text-align: center;
    margin: 5px 15px 5px 15px;
}

.leaflet-popup-tip {
    background-color: hsla(176, 100%, 24%, 0.8);
}
/* Fin style carte */
/*Header*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top ease 0.5s;
    z-index: 1;
}

#header.cache {
    top: -50px;
}

#head {
    background: transparent;
    margin: 0%;
    padding: 0%;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.haut-gauche {
    display: flex;
}

.haut-gauche a {
    padding: 10px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.1)
}

.haut-gauche a:hover {
    background-color: #007c74;
}

form {
    margin: auto;
    color: black;
}

.email {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    width: 165px;
    font-weight: 700;
    font-size: 0.875rem;
    color: black;
}

.email::placeholder {
    color: black;
}

.submit {
    margin: 0;
    background-color: #007c74;
    border: none;
    font-weight: 600;
    font-size: 0.875rem;
    color: #fff;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -4px;
}

.haut-droite {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.haut-droite a {
    text-decoration: none;
    color: black;
    margin: auto;
    padding-left: 20px;
}

.haut-droite a:hover {
    color: #007c74;
}

.carnet {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carnet:hover .coeur1 {
    display: none;
}

.carnet:hover .coeur2 {
    display: block;
}

.coeur2 {
    display: none;
}

.carnet img {
    margin-right: 2px;
}

.espace img {
    width: 27px;
}

.espace {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.espace:hover .profil1 {
    display: none;
}

.espace:hover .profil2 {
    display: block;
}

.profil2 {
    display: none;
}

.navigation {
    background: #fff;
    display: flex;
    height: 80px;
    box-shadow: 0 1px 5px gray;
}

.euro {
    height: 50px;
    margin: 10%;
    margin-top: 13px;
}

.eurovelo {
    height: 50px;
    margin-left: 15px;
    margin-top: 13px;
}

.navigation ul {
    width: 100%;
    display: inline-block;
    margin: auto;
    text-align: center;
}

.navigation li {
    display: inline;
}

.navigation li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 10%;
}

.navigation li a:hover {
    color: #007c74;
}

#loupe {
    height: 30%;
    margin-left: 20%;
    margin-right: 1%;
    margin-top: 30px;
}

#loupe.afficher {
    display: none;
}

#croix {
    display: none;
    height: 20%;
    margin-left: 20%;
    margin-right: 1%;
    margin-top: 33px;
}

#croix.afficher {
    display: block;
}

#recherche {
    display: none;
}

#recherche.afficher {
    display: block;
}

.search {
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 1%;
    color: #fff;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 5px;
}

.search::placeholder {
    color: #fff;
}

#header_telephone {
    display: none;
}

.nav-container {
    display: none;
}

#container_search {
    display: none;
}

/* Fin header */

/*Responsive*/

@media screen and (max-width:480px) {

    /*Header*/

    #header_ordi {
        display: none;
    }

    .nav-container {
        display: block;
    }

    #header_telephone {
        display: flex;
        width: 100%;
        background-color: #fff;
    }

    #header.cache {
        top: 0px;
    }

    #icon_menu {
        width: 150%;
    }

    #menu figcaption {
        margin-left: 0;
        font-size: 65%;
    }

    #logo_telephone {
        margin-left: 0%;
    }

    #loupe2 {
        width: 8%;
        height: 8%;
        margin: auto;

    }

    #menu {
        width: 8%;
        height: 8%;
        margin: auto 30px auto 30px;
    }

    #recherche_mobile {
        display: none;
    }

    .navm {
        left: -100%;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        z-index: 4;
        background: rgba(0, 0, 0, 0.95);
        position: fixed;
        top: 0;
    }

    .navm form{
        color: #fff;
    }
    .email::placeholder{
        color: #fff;
    }

    #es_pro {
        margin-left: 8%;
    }

    .h2nav {
        text-align: center;
        font-size: 120%;
        margin: 0;
        margin-top: -15%;
        margin-left: 5%;
    }



    #navm_ul {
        margin: 0;
        margin-top: 15vh;
        margin-left: -3vw;
        padding: 0;
    }

    .liennav {
        text-align: center;
        margin-bottom: 5%;
        font-size: 180%;
    }


    .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 25px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .nav-container input[type="checkbox"]:checked~.navm {
        transform: translateX(100%);
        transition: 0.5s;
    }



    .nav-container input[type="checkbox"]:checked {
        transform: translateX(302px);
        transition: 0.5s;
    }

    #croix_mobile {
        background-color: #fff;
        border-radius: 100%;
        top: 20px;
        left: 330px;
        position: relative;
        padding: 2px;
    }

    form {
        display: inline-block;
        margin-left: 10%;
    }

    form p {
        text-align: center;
    }

    #container_search {
        display: block;
    }

    #search_mobile {
        left: -100%;
        width: 100%;
        height: 8%;
        top: 68px;
        transition: 0.5s;
        z-index: 2;
        background: rgba(0, 0, 0);
        position: absolute;
    }

    .search {
        height: 100%;
        background-color: black;
    }

    .checkbox2 {
        position: relative;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 318px;
        z-index: 3;
        opacity: 0;
        cursor: pointer;
    }

    .checkbox2:checked~#search_mobile {
        transform: translateX(100%);
        transition: 0.5s;

    }

    .checkbox2:checked {
        transform: translateY(200%);
        transition: 0.5s;

    }

    #croix_mobile2 {
        background-color: #fff;
        border-radius: 100%;
        bottom: 53px;
        left: 320px;
        position: relative;
        padding: 2px;
    }

    .carnet_espace {
        display: flex;
        width: 40%;
        justify-content: space-around;
        align-items: center;
        margin: 0%;

    }

    .liennav a,
    #es_pro,
    .carnet_espace {
        text-decoration: none;
        color: white;
    }
    .eurovelo{
        padding-bottom: 5%;
        margin-left: 5px;
        margin-right: 5px;
    }

    /* Fin header */

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    /* carte */
    #map {
        position: fixed;
        order: 0;
        z-index: 0;
        align-self: flex-end;
        width: 100vw;
        height: 29vh;
        top: 65px;
        border-bottom: solid black 2px;
    }

    /* Article */

    .description {
        position: fixed;
        order: 1;
        overflow: scroll;
        align-self: flex-end;
        justify-content: space-between;
        width: 100vw;
        height: 60vh;
        bottom: 3vh;
    }

    .infos {
        width: 100%;
        margin-left: 0;
        font-size: 14px;
        font-weight: 400;
    }

    .infos span {
        padding: 2px 15px 2px 15px;
    }

    #titreEtape {
        padding: 0 15px 0 15px;
        text-align: center;
        margin: 0;
        font-size: 1.5em;
    }

    /* Bouton download */
    .download {
        width: 100vw;
        margin-left: 0;
        bottom: 0px;
    }

    .download a {
        display: flex;
        align-items: center;
        color: #007c74;
        text-decoration: none;
        font-weight: 900;
        font-family: Poppins, sans-serif;
    }

    .download a img {
        width: 40px;
    }

    /* Fin bouton download */
    /* Bouton retour */
    #bouton {
        position: absolute;
        left: 335px;
        top: 80px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
    }
    /* Fin du bouton retour */
}