#map {
    height: 80vh;
    width: 50vw;
    margin: auto;
    border: solid black 10px;
}

.leaflet-popup-content-wrapper {
    background-color: black;
    opacity: 0.7;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    color: white;
}

.leaflet-popup-tip {
    background-color: black;
    opacity: 0.7;
}

#trackTitle {
    color: red;
}