html{
  scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  /*Header*/
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top ease 0.5s;
    z-index: 1;
  }
  #header.cache {
    top: -50px;
  }
  #head {
    background: transparent;
    margin: 0%;
    padding: 0%;
    display: flex;
    height: 50px;
    justify-content: space-between;
    color: black;
  }
  .haut-gauche {
    display: flex;
    width: 50%;
  }
  .haut-gauche a {
    padding: 10px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.1)
  }
  .haut-gauche a:hover {
    background-color: #007c74;
  }
  form {
    margin: auto;
    color: black;
    width: 100%;
  }
  #label{
    margin-left: 10%;
  }
  .email {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    width: 165px;
    font-weight: 700;
    font-size: 0.875rem;
    color: black;
    margin-left: 1%;
  }
  .email::placeholder{
    color: black;
  }
  .submit {
    margin: 0;
    background-color: #007c74;
    border: none;
    font-weight: 600;
    font-size: 0.875rem;
    color: #fff;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -4px;
  }
  .haut-droite{
    display: flex;
    justify-content: space-between;
    width: 35%;
  }
  .haut-droite a{
    text-decoration: none;
    color: black;
    margin: auto;
    padding-left: 20px;
  }
  .haut-droite a:hover{
    color: #007c74;
  }
  .carnet{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .carnet:hover .coeur1{
    display: none;
  }
  .carnet:hover .coeur2{
    display: block;
  }
  .coeur2{
    display: none;
  }
  .carnet img{
    margin-right: 2px;
  }
  .espace img{
    width: 27px;
  }
  .espace{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .espace:hover .profil1{
    display: none;
  }
  .espace:hover .profil2{
    display: block;
  }
  .profil2{
    display: none;
  }
  .navigation{
    background: #fff;
    display: flex;
    height: 80px;
    box-shadow: 0 1px 5px gray;
  }
  .euro{
    height: 50px;
    margin: 10%;
    margin-top: 13px;
  }
  .eurovelo{
    height: 50px;
    margin-left: 15px;
    margin-top: 13px;
  }
  .navigation ul{
    width: 100%;
    display: inline-block;
    margin: auto;
    text-align: center;
  }
  .navigation li{
    display: inline;
  }
  .navigation li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 10%;
  }
  .navigation li a:hover{
    color: #007c74;
  }
  #loupe{
    height: 30%;
    margin-left: 20%;
    margin-right: 1%;
    margin-top: 30px;
  }
  #loupe.afficher {
    display: none;
  }
  #croix {
    display: none;
    height: 30%;
    margin-left: 20%;
    margin-right: 1%;
    margin-top: 33px;
  }
  #croix.afficher {
    display: block;
  }
  #recherche {
    display: none;
  }
  #recherche.afficher {
    display: block;
  }
  .search{
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 1%;
    color: #fff;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 5px;
  }
  .search::placeholder{
    color: #fff;
  }
  #header_telephone{
    display: none;
  }
  .nav-container{
    display: none;
  }
  #container_search{
    display: none;
  }
  #lien{
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
 
  #lien ol{
    padding: 0%;
  }
  #lien li{
    display: inline;
  }
  #lien li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem;
    margin-left: 0%;
    color: #007c74;
  }
  #accueil{
    margin-left: 1%;
  }
  
  #accueil::after{
    content: ">";
    color: #007c74;
    font-weight: 600;
    display: inline-block;
    margin-left: 5px;
    font-size: 0.8rem;
  }

  #Newsletter{
    display: none;
  }
 /* fleche pour remmonter en version mobile */
 .flechemobile{
  position: fixed;
  bottom: 2%;
  right: 8%;
  display: none;
  z-index: 99;
}
.flechemobile img{
  width: 2em;
}
  /* main*/
.blanc{
  height: 8em;
  width: 100%;
}

.Titre-Haut h3{
  margin-top: 3%;
  font-size: 2.6em;
  font-weight: 300;
}

.Titre-Haut{
  text-align: center;
}

.Titre-Haut p{
  font-size: 1.125rem;
  color: #585858;
  line-height: 1.5em;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: "Mukta Mahee",sans-serif;
  font-weight: 500;
}

/* actualité */

.conteneur{
  display: flex;
  width: 60%;
  margin: auto;
  flex-wrap: wrap;
	gap: 1.5%;
  justify-content: space-between;
  padding-bottom: 2%;
}

.article-child{
  flex: 31%;
  position: relative;
  text-align: center;
  margin-bottom: 3%;
  overflow: hidden;
  transition: .4s;
  border-radius: 0.9%;
}
.article-child:hover{
  box-shadow: 4px 4px 4px rgb(75, 75, 75);
  transition: .4s
}

.article-child img{
  width: 100%;
  height: 100%;
  transition: .4s;
  border-radius: 0.9%;
}

.article-child h4{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  transition: .5s;
  font-weight: bolder;
  font-size: 22px;
  background: rgb(255, 175, 16,0.8);
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.article-child:hover img{
  filter: blur(6px);
  transition: .4s;
  transform: scale(1.2);
}

.article-child:hover h4{
  top: 65%;
  transition: 0.4s;
 }
 
  /*Footer*/

.footh {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(/images/imagesbg/flou3.jpg);
  backdrop-filter: blur(8px);
  background-size: cover;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.qsn1 {
  width: 65px;
  height: 65px;
  margin-top: 40px;
}

.qsn2 {
  height: 65px;
  margin-left: 11px;
}

.headfoot {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 300px;
  margin-right: 300px;
  align-items: center;
  justify-content: space-between;
}

.logod img {
  width: 25px;
  margin-right: 5px;

}

.fcontenu {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 300px;
  margin-right: 300px;
}

.fcontenu p {
  line-height: 28px;
  font-weight: bold;
}

.quisommesnous {
  width: 60%;
}

.quisommesnous h3 {
  font-size: 1.8em;
}

.fboutons {
  display: flex;
  flex-direction: row;
  width: 100%;
}

a.btnb {
  margin-left: 320px;
  text-decoration: none;
  width: 180px;
}

.fboutons a {
  text-decoration: none;
  font-weight: bold;
  height: min-content;
  margin-top: 40px;
}

.btnb p {
  color: #007c74;
  background-color: white;
  width: 140px;
  display: block;
  padding: 7px 20px 7px 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 0px 5px lightslategray;
}

.btnb p:hover {
  box-shadow: 0px 0px 6px #007c74;
}

.btnv p {
  color: white;
  background-color: #007c74;
  width: 240px;
  display: block;
  padding: 7px 20px 7px 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 0px 5px lightslategray;
}

.btnv {
  width: 280px;
  margin-left: 30px;
}

.btnv p:hover {
  box-shadow: 0px 0px 6px white;
}

/* footer itinéraire */

.footm1 {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-left: 290px;
  margin-right: 300px;
}

.footm1 span {
  color: black;
  font-weight: bold;
}

.presentation {
  line-height: 30px;
  font-weight: bold;
  flex: 1;
  margin-left: 10px;
}


.presentation ul {
  padding: 0;
}

.presentation a,
.presentation li {
  color: black;
}

.suggestions {
  line-height: 22px;
  flex: 1;
}

.suggestions a,
.suggestions ul {
  padding: 0;
}

.suggestions a,
.suggestions li {
  color: #585858;
}

.conseils {
  line-height: 22px;
  flex: 1;
}

.conseils ul {
  padding: 0;
}

.conseils a,
.conseils li {
  color: #585858;
}

.footm1 a,
ul {
  text-decoration: none;
  list-style: none;
}

/*footer Accueil Vélo */

.footm2 {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
  width: 100%;
}

.veloacc {
  width: 5%;
  margin-left: 330px;
  margin-top: 40px;
}

.veloacc img {
  width: 49px;
  height: 71px;
}

.velotext {
  width: 50%;
  margin-top: 25px;
  padding-left: 1%;
}

.velotext p {
  line-height: 25px;
  font-size: 0.9em;
  color: #585858;
}

.velotext h4 {
  font-size: 1em;
}

.boutons {
  display: flex;
  align-items: center;
  margin-right: 330px;
}

.btn1 p {
  color: black;
  background-color: white;
  width: 150px;
  display: block;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 0px 0px 5px lightgray;
  padding: 10px 20px;
}

.btn1 p:hover {
  box-shadow: 0px 0px 6px gray;
}

.btn2 p {
  color: white;
  background-color: black;
  width: 250px;
  display: block;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 0px 5px lightgray;
  padding: 10px 20px;
  margin-left: 30px;
}

.btn2 p:hover {
  box-shadow: 0px 0px 6px gray;
}

.boutons a {
  text-decoration: none;
  font-weight: bold;
}

/* footer mentions légales */

.footb {
  display: flex;
  width: 100%;
  background-color: black;
}

.ml li {
  display: inline;
  margin-left: 10px;
}

.ml a {
  color: white;
  text-decoration: none;
  margin: 0;
}

.ml ul {
  font-size: 12px;
  margin-left: 280px;
  font-weight: bold;
  margin-top: 26px;
  padding-left: 10px;
}

.realisation {
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: auto;
  margin-left: 760px;
  margin-right: 10px;
}

.logofvt img {
  width: 145px;
}

.logofvt {
  margin-top: auto;
  margin-bottom: auto;
}

.simplon img {
  width: 90px;
}

.simplon {
  margin-top: auto;
  margin-bottom: auto;
}

  /*Responsive tablette*/


  @media screen and (max-width:1080px) {

    /*Header*/
    .haut-droite{
      width: 45%;
    }
    .haut-gauche{
      width: 55%;
    }
    #label{
      display: none;
    }
    #Newsletter{
      display: inline;
    }
    /*main*/
    main{
      margin-top: 2%;
    }
    .conteneur{
      width: 90%;
    }
    
/* footer */

.qsn1 {
  margin: 0;
}

.logog {
  margin-top: 1%;
}

.logod {
  margin-top: 1px;
}

.fcontenu {
  width: 100vw;
  margin: 0;
  flex-wrap: wrap;
}

.quisommesnous h3 {
  margin: 0 3% 0 3%;
}

.quisommesnous p {
  margin: 0 3% 0 3%;
  width: 98vw;
}

.fboutons {
  width: 100vw;
  justify-content: space-around;
  margin: 0;
}

.fboutons a {
  margin: auto;
}

footer {
  width: 100vw;
}

.footh {
  width: 100vw;
}

.footm1 {
  margin: 0;
  width: 100vw;
  justify-content: space-between;
}

.presentation li {
  margin: 0 10% 0 3%;
}

.suggestions {
  margin-left: 15%;
}

.conseils {
  margin-left: 15%;
}

/* footer milieu 2 */
.footm2 {
  flex-wrap: wrap;
  justify-content: space-between;
}

.veloacc {
  margin: 1% 1% 1% 1.5%;
}

.velotext h4 {
  margin: 0;
}

.velotext {
  padding: 0;
  margin: 2.5% 1% 0 0;
  width: 89vw;
}

.boutons {
  margin: auto;
}

.btn2 p {
  margin: 0;
}

.btn1 {
  margin: 0 10% 0 0;
}

.btn2 {
  margin: 0 0 0 0;
}

/* footer mentions légales */

.realisation {
  margin: 2.2% 1% 0 20%;
}

.footb ul {
  margin: 5% 0 0 0;
  padding: 0;
}

    
  }
/*Responsive téléphone*/

@media screen and (max-width:480px) {

  /*Header*/

  #header_ordi {
    display: none;
  }

  #lien{
    display: none;
  }

  .nav-container {
    display: block;
  }

  #header_telephone {
    display: flex;
    width: 100%;
    background-color: #fff;
  }

  #header.cache {
    top: -80px;
  }

  #icon_menu {
    width: 150%;
  }

  #menu figcaption {
    margin-left: 0;
    font-size: 65%;
  }

  #logo_telephone {
    margin-left: 0%;
  }

  #loupe2 {
    width: 8%;
    height: 8%;
    margin: auto;

  }

  #menu {
    width: 8%;
    height: 8%;
    margin: auto 30px auto 30px;
  }

  #recherche_mobile {
    display: none;
  }

  .navm {
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 4;
    background: rgba(0, 0, 0, 0.95);
    position: fixed;
  }

  #es_pro {
    margin-left: 8%;
  }

  .h2nav {
    text-align: center;
    font-size: 120%;
    margin: 0;
    margin-top: -15%;
    margin-left: 5%;
  }
  
  #navm_ul {
    margin: 0;
    margin-top: 15vh;
    margin-left: -3vw;
    padding: 0;
  }

  .navm a{
    color: white;
    text-decoration: none;
  }

  .liennav {
    text-align: center;
    margin-bottom: 5%;
    font-size: 180%;
  }


  .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 30px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container input[type="checkbox"]:checked~.navm {
    transform: translateX(100%);
    transition: 0.5s;
  }



  .nav-container input[type="checkbox"]:checked {
    transform: translateX(303px);
    transition: 0.5s;
  }

  #croix_mobile {
    background-color: #fff;
    border-radius: 100%;
    top: 20px;
    left: 330px;
    position: relative;
    padding: 2px;
  }

  form {
    display: inline-block;
    margin-left: 10%;
    color: #fff;
    width: 80%;
  }

  form p {
    text-align: center;
  }

  #container_search {
    display: block;
  }

  #search_mobile {
    left: -100%;
    width: 100%;
    height: 8%;
    top: 68px;
    transition: 0.5s;
    z-index: 2;
    background: rgba(0, 0, 0);
    position: absolute;
  }

  .search {
    height: 100%;
    background-color: black;
  }

  .checkbox2 {
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 320px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }

  .checkbox2:checked~#search_mobile {
    transform: translateX(100%);
    transition: 0.5s;

  }

  .checkbox2:checked {
    transform: translateY(200%);
    transition: 0.5s;

  }

  #croix_mobile2 {
    background-color: #fff;
    border-radius: 100%;
    bottom: 53px;
    left: 320px;
    position: relative;
    padding: 2px;
  }

  .carnet_espace {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    margin: 0%;

  }
  .eurovelo{
    padding-bottom: 5%;
    margin-left: 5px;
    margin-right: 5px;
}
.email::placeholder{
  color: #fff;
}


  .conteneurcarte {
    margin: 0;
    width: 100%;
    flex-direction: initial;
  }

  .descriptif {
    margin-top: 10px;
    width: 100%;
    padding: 1px 10px 1px 10px;
  }

  .descriptif h2 {
    font-size: 1.75rem;
  }

  .descriptif img {
    margin-top: 20px;
  }

  .descriptif p {
    width: 100%;
    margin: auto;
    text-align: justify;
  }
   
  /* fleche pour remmonter en version mobile */
  
   .flechemobile{
    display: block;
  }
  /* slider */

  .slider {
    height: 50vh;
  }


/* haut back*/
.blanc{
  background-color: rgba(255, 255, 255, 0.664);
  height: 2em;
  width: 100%;
}

  /*NEWS */

   .conteneur{
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 370px;
   }

  .article-child{
    flex: 100%;
    height: auto;
    margin-bottom: 7%;
  }

  .article-child a img{
    width: 370px;
    height: 100%;
  }
  .article-child h4{
    font-size: 24px;
    margin-top: 1%;
  }

  /* Footer qui sommes nous */

  .headfoot {
    margin: 50px 0 0 0;
  }

  .fcontenu {
    margin: 0;
  }

  .qsn1 {
    margin-left: 10px;
    margin-top: auto;
  }

  .qsn2 {
    margin: 0 0 0 5px;
  }

  .logod {
    margin-right: 5px;
  }

  .quisommesnous {
    display: none;
  }

  .fboutons {
    margin: auto;
    width: auto;
    display: block;
  }

  .fboutons p {
    margin: 0;
    margin-bottom: 1em;
    width: auto;
    font-size: 0.9em;
  }

  /* footer présentation de l'itinéraire */

  .footm1 {
    flex-direction: column;
    font-size: 1.3em;
    margin: 0;
    margin-left: 10px;
    width: 350px;
  }

  .presentation {
    line-height: 1.1;
    margin-left: 0;
  }

  .presentation li {
    margin: 0;
  }

  .suggestions {
    margin: 0;
    line-height: 1.10;
  }

  .conseils {
    line-height: 1.10;
    margin: 0;
  }
 

  /* footer marque accueil vélo */

  .footm2 {
    margin: auto;
    flex-direction: column;
    padding-top: 10px;
  }

  .veloacc {
    display: none;
  }

  .velotext {
    margin: auto;
    text-align: center;
    width: 90%;
  }

  .boutons {
    margin: 0 15px 20px 20px;
  }

  .boutons p {
    margin: 0;
    width: 110px;
  }

  .btn1 {
    margin-right: 15px;
    margin-left: 15px;
  }

  .btn2 {
    margin-top: 12px;
  }

  /*footer metions légales */

  .footb {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  .ml {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }

  .ml a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
  }

  .ml ul {
    margin: 5px 0 0 0;
    text-align: left;
    padding-left: 0;
  }

  .ml li {
    margin: 0;
  }

  .realisation {
    margin: 23px 5px 0 10px;
  }

  .simplon {
    margin: 20px 0px 0px 5px;
  }

  .logofvt {
    margin-left: 0px;
  }
}