body{
    margin: 0;
    padding: 0;
}

.slider{
    width: 100%;
}

.img-div {
    height: 95vh;
}
.div1{
    background: url(/images/imagescarousel/image1.jpg) no-repeat center;
    background-size: cover;
}
.div2{
    background: url(/images/imagescarousel/image2.jpg) no-repeat center;
    background-size: cover;
}
.div3{
    background: url(/images/imagescarousel/image3.jpg) no-repeat center;
    background-size: cover;
}
.div4{
    background: url(/images/imagescarousel/image4.jpg) no-repeat center;
    background-size: cover;
}
.div5{
    background: url(/images/imagescarousel/image5.jpg) no-repeat center;
    background-size: cover;
}
.div6{
    background: url(/images/imagescarousel/image3.jpg) no-repeat center;
    background-size: cover;
}