html{
  scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
  }

  /*Header*/
  
  header {
    position: fixed;
    top: 0;
    width: 100% ;
    transition: top ease 0.5s;
    z-index: 1;
  }
  #header.cache {
    top: -50px;
  }
  #head {
    background: transparent;
    margin: 0%;
    padding: 0%;
    display: flex;
    height: 50px;
    justify-content: space-between;
  }
  .haut-gauche {
    display: flex;
    width: 50%;
  }
  .haut-gauche a {
    padding: 10px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.1)
  }
  .haut-gauche a:hover {
    background-color: #007c74;
  }
  form {
    margin: auto;
    color: #fff;
    width: 100%;
  }
  #label{
    margin-left: 10%;
  }
  .email {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    width: 165px;
    font-weight: 700;
    font-size: 0.875rem;
    color: #fff;
    margin-left: 1%;
  }
  .email::placeholder{
    color: #fff;
  }
  .submit {
    margin: 0;
    background-color: #007c74;
    border: none;
    font-weight: 600;
    font-size: 0.875rem;
    color: #fff;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -4px;
  }
  .haut-droite{
    display: flex;
    justify-content: space-between;
    width: 35%;
  }
  .haut-droite a{
    text-decoration: none;
    color: #fff;
    margin: auto;
    padding-left: 20px;
  }
  .haut-droite a:hover{
    color: #007c74;
  }
  .carnet{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .carnet:hover .coeur1{
    display: none;
  }
  .carnet:hover .coeur2{
    display: block;
  }
  .coeur2{
    display: none;
  }
  .carnet img{
    margin-right: 2px;
  }
  .espace img{
    width: 27px;
  }
  .espace{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .espace:hover .profil1{
    display: none;
  }
  .espace:hover .profil2{
    display: block;
  }
  .profil2{
    display: none;
  }
  .navigation{
    background: #fff;
    display: flex;
    height: 80px;
    box-shadow: 0 1px 5px gray;
  }
  .euro{
    height: 50px;
    margin: 10%;
    margin-top: 13px;
  }
  .eurovelo{
    height: 50px;
    margin-left: 15px;
    margin-top: 13px;
  }
  .navigation ul{
    width: 100%;
    display: inline-block;
    margin: auto;
    text-align: center;
  }
  .navigation li{
    display: inline;
  }
  .navigation li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 10%;
  }
  .navigation li a:hover{
    color: #007c74;
  }
  #loupe{
    height: 30%;
    margin-left: 20%;
    margin-right: 1%;
    margin-top: 30px;
  }
  #loupe.afficher {
    display: none;
  }
  #croix {
    display: none;
    height: 30%;
    margin-left: 20%;
    margin-right: 1%;
    margin-top: 33px;
  }
  #croix.afficher {
    display: block;
  }
  #recherche {
    display: none;
  }
  #recherche.afficher {
    display: block;
  }
  #lien{
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  #lien.cache{
    display: none;
  }
 
  #lien ol{
    padding: 0%;
  }
  #lien li{
    display: inline;
  }
  #lien li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem;
    margin-left: 0%;
    color: #fff;
  }
  #accueil{
    margin-left: 1%;
  }
  
  #accueil::after{
    content: ">";
    color: #fff;
    font-weight: 600;
    display: inline-block;
    margin-left: 5px;
    font-size: 0.8rem;
  }

  #lien li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem;
    margin-left: 0%;
  }
  .search{
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 1%;
    color: #fff;
    font-weight: 600;
    font-size: larger;
    border: none;
    border-radius: 5px;
  }
  .search::placeholder{
    color: #fff;
  }
  #header_telephone{
    display: none;
  }
  .nav-container{
    display: none;
  }
  #container_search{
    display: none;
  }
  #Newsletter{
    display: none;
  }

  /* fleche pour remmonter en version mobile */
  .flechemobile{
    position: fixed;
    bottom: 2%;
    right: 8%;
    display: none;
    z-index: 99;
  }
  .flechemobile img{
    width: 2em;
  }
/* main */

  main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
/* section .timage img ils l'ont fait */
.timage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 98vh;
    background: url(images/imagesbg/ilonfait.jpg) no-repeat;
    background-size: cover;
  }
  .timage div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    align-items: center;
    margin: auto;
    margin-top: 40vh;
    color: #fff;
    font-size: 4em;
    font-weight: 700;
  }
  .timage div a{
    z-index: 0;
  }
  .timage div a img{
    width: 1em;
    transform:rotate(90deg);
  }

/* section .aventure  */

  .aventure{
    width: 100%;
    text-align: center;
    background-color: #fff;
  }
  .aventure div{
    width: 50%;
    margin: auto;
  }
  .aventure h2{
    margin-top: 10%;
    font-size: 2.6em;
    font-weight: 300;
  }
   .aventure h2 span{
    color:#007c74;
  }
  .aventure p{
    color: #585858;
    line-height: 1.5em;
    font-size: 1.1em;
    font-weight: 500;
  }

/* div.divarticle  */
  div.divarticle{
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }
  div.divarticle article.article1{
    flex:100%;
  }
  div.divarticle article.article2{
    flex:25%;
  }
  div.divarticle article.article3{
    flex:72%;
  }
  div.divarticle article.article4{
    flex:31%;
  }
  div.divarticle article.article5{
    flex:31%;
  }
  div.divarticle article.article6{
    flex:31%;
  }

/* taille article en attente de thomas */

/* temoignage */
.conteneur-temoignage{
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  justify-content: space-between;
  padding-left: 19%;
  padding-right: 19%;
  padding-top: 2%;
  padding-bottom: 1.5%;
}

.article-child:hover img{
  filter: blur(6px);
  transition: .4s;
  transform: scale(1.2);
}

.article-child:hover{
  box-shadow: 4px 4px 4px rgb(75, 75, 75);
  transition: .3s
}

.article-child img{
  transition: .4s;
}

.article-child{
  margin-bottom: 1%;
  position: relative;
  text-align: center;
  overflow: hidden;
  transition: .3s;
  border-radius: 1%;
}

.article-child:first-child{
  flex: 0 0 100%;
}

.article-child:nth-child(3){
  flex: 0 0 66%;

}

.article-child:nth-child(2){
  flex: 0 0 32%;
}
.article-child:nth-child(2) .image{
  width: 100%;
}
.article-child .image{
  width: 370px;
  height: 370px;
  border-radius: 0.9%;
}

.article-child:nth-child(3) .image{
     width: 100%;
     height: 370px;
}


.article-child:first-child .image{
  width: 100%;
  height: 100%;
}

h4 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  transition: .5s;
  font-weight: bolder;
  font-size: 22px;
  background: rgb(255, 175, 16,0.8);
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.article-child:hover h4{
 top: 70%;
 transition: .4s;
}

/* bouton lien */

.liens-temoignages{
  display: flex;
  padding-left: 19%;
  padding-right: 19%;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
}
.liens-temoignages a{
  text-decoration: none;
}
.btnPt a{
  text-decoration: none;
}

.btnPt p, .btnTt p{
  background-color: rgb(255, 255, 255);
  color: #231f20;
  border: 2px solid #231f20;
  height: 30px;
  width: 230px;
  font-size: 14px;
  padding-top: 5%;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px rgb(133, 122, 122);
}

.btnTt p{
  color: #fff;
  background-color: #231f20;
}

 /* image article */

  div.divarticle article img{
    width: 100%;
    height: auto;
  }

/* Avis titre */

.avis-titre{
  width: 100%;
  text-align: center;
  background-color: #fff;
}
.avis-titre h2{
  margin-top: 3%;
  font-size: 2.6em;
  font-weight: 300;
}

.avis-titre p{
  color: #585858;
  line-height: 1.5em;
  font-size: 1.1em;
  font-weight: 500;
  width: 40%;
  margin: auto;
  margin-top: 2%;
}

/* avis flex */

.conteneur-avis h5{
  color: black;
  transform: none;
}
.conteneur-avis{
  display: flex;
  padding-left: 19%;
  padding-right: 19%;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  padding-top: 3%;
  padding-bottom: 3%;
}

.conteneur-avis .avis-child{
  /* flex: 25%;  NE PAS TOUCHER */ 
  width: 25%;
  background-color: #f4f4f4;
  padding: 2%;
  margin-bottom: 2%;
  padding-top: 1%;
  margin-left: 3%;
}

.conteneur-avis .date{
  font-size: 13px;
  margin-bottom: 2%;
}

.conteneur-avis .Avis-titre{
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 3%;
}

.conteneur-avis .personne{
  margin: 0;
  background-color: orange;
  text-align: center;
  color: white ;
  font-size: 13px;
  text-align: center;
  padding: 1%;
  margin-right: 60%;
  font-weight: bold;
  margin-bottom: 5%;
}

.Avis-titre2{
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5%;
}

.Texte-Avis{
  margin: 0;
  font-size: 14px;
  color: #585858;
  line-height: 20px;
  font-weight: 600;
  overflow: hidden;
}

/* FORMULAIRE AVIS */
.avis-formulaire{
  background-color: white;
  width: 100%;
  padding-bottom: 3%;
}

#form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #007c74;
  border-radius: 2px;
  width: 20%;
  box-shadow: -3px 3px 8px lightslategray;
  padding: 1%;
}

#form input{
  margin-bottom: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

TEXTAREA{
  margin-bottom: 2%;
  padding-bottom: 10%;
  margin: auto;
  width: 68%;
}

#form label{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 8px;
  font-size: 18px;
}


#form .texte-formulaire{
  text-align: center;
}

#form p{
  margin-bottom: 5%;
  text-align: center;
  font-size: 30px;
}

.valider input{
  font-size: 1em;
  background-color: black;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.valider{
  text-align: center;
  margin-top: 2%
}
  /*Footer haut*/

.footh{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(images/imagesbg/flou3.jpg);
  backdrop-filter: blur(8px);
  background-size: cover;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.qsn1 {
  width: 65px;
  height: 65px;
  margin-top: 40px;
}
.qsn2 {
  height: 65px;
  margin-left: 11px;
}
.headfoot{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 300px;
  margin-right: 300px;
  align-items: center;
  justify-content: space-between;
}
.logod img{
  width: 25px;
  margin-right: 5px;
  
}
.fcontenu{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 300px;
  margin-right: 300px;
}
.fcontenu p{
  line-height: 28px;
  font-weight: bold;
}
.quisommesnous{
  width: 60%;
}
.quisommesnous h3{
  font-size: 1.8em;
}
.fboutons{
  display: flex;
  flex-direction: row;
  width: 100%;
}
a.btnb{
  margin-left: 320px;
  text-decoration: none;
  width: 180px;
}
.fboutons a {
  text-decoration: none;
  font-weight: bold;
  height: min-content;
  margin-top: 40px;
}

.btnb p {
  color: #007c74;
  background-color: white;
  width: 140px;
  display: block;
  padding: 7px 20px 7px 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 0px 5px lightslategray;
}

.btnb p:hover {
  box-shadow: 0px 0px 6px #007c74;
}
.btnv p {
  color: white;
  background-color: #007c74;
  width: 240px;
  display: block;
  padding: 7px 20px 7px 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 0px 5px lightslategray;
}
.btnv{
  width: 280px;
  margin-left: 30px;
}
.btnv p:hover {
  box-shadow: 0px 0px 6px white;
}

/* footer mentions légales */

.footb{
  display: flex;
  width: 100%;
  background-color: black;
}
.footb .ml a{
  text-decoration: none;
  color: white;
  display: inline;
  margin-left: 10px;
}
.footb .ml li{
  text-decoration: none;
  color: white;
  display: inline;
  margin-left: 10px;
}
.ml ul{
  font-size: 12px;
  margin-left: 280px;
  font-weight: bold;
  margin-top: 26px;
  padding-left: 0;
}
.realisation{
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: auto;
  margin-left: 740px;
  margin-right: 10px;
}
.logofvt img{
  width: 145px;
}
.logofvt{
  margin-top: auto;
  margin-bottom: auto;
}
.simplon img{
 width: 90px;
}
.simplon{
  margin-top: auto;
  margin-bottom: auto;}

/* Version ipad paysage */

@media screen and (max-width:1080px){

  /*Header*/
  .haut-droite{
   width: 45%;
 }
 .haut-gauche{
   width: 55%;
 }
 #label{
   display: none;
 }
 #Newsletter{
   display: inline;
 }

   /* fleche pour remmonter en version mobile */
  
   .flechemobile{
    display: block;
  }
 /* main */


 /* article */
  .conteneur-temoignage{
    padding-left: 5%;
    padding-right: 5%;
  }
  .conteneur-temoignage .article-child:nth-child(4){
    flex: 31%;
  }
  .conteneur-temoignage .article-child:nth-child(5){
    flex: 31%;
  }
  .conteneur-temoignage .article-child:nth-child(6){
    flex: 31%;
  }
  /* avis */
  .conteneur-avis{
    padding-left: 5%;
    padding-right: 5%;
  }
  /* avis-formulaire */
  
  .avis-formulaire{
    background-color: white;
    width: 100%;
    padding-bottom: 3%;
  }

  #form{
    width: 40%;
  }
  

 /* footer */
 .headfoot{
   margin: 0 2% 0 2%;
   vertical-align: middle;
 }
 .qsn1{
   margin: 0;
 }
 .logog{
   margin-top: 1%;
 }
 .logod{
   margin-top: 1px;
 }
 .fcontenu{
   width: 100vw;
   margin: 0;
   flex-wrap: wrap;
 }
 .quisommesnous h3{
   margin: 0 3% 0 3%;
 }
 .quisommesnous p{
   margin: 0 3% 0 3%;
   width: 100vw;
 }
 .fboutons{
   width: 100vw;
   justify-content: space-around;
   margin: 0;
 }
 .fboutons a{
   margin: auto;
 }
 footer{
   width: 100vw;
 }
 .footh{
   width: 100vw;
 }
 .footm1{
   margin: 0;
   width: 100vw;
   justify-content: space-between;
 }
 .presentation li{
   margin: 0 10% 0 3%;
 }
 .suggestions{
   margin-left: 15%;
 }
 .conseils{
   margin-left: 15%;
 }
 .footm2{
   flex-wrap: wrap;
   justify-content: space-between;
 }
 .veloacc{
   margin: 1% 1% 1% 1.5%;
 }
 .velotext h4{
   margin: 0;
 }
 .velotext{
   padding: 0;
   margin: 2.5% 1% 0 0;
   width: 89vw;
 }
 .boutons{ 
   margin: auto;
 }
 .btn2 p{
   margin: 0;
 }
 .btn1 {
   margin: 0 10% 0 0;
 }
 .btn2{
   margin: 0 0 0 0;
 }
 .footb .ml li{
  margin: 0;
}
 .realisation{
    margin: 2.2% 1% 0 25%;
 }
 .footb ul{
   margin: 5% 0 0 0;
   padding: 0;
 }
 
 }

  /*Responsive*/

@media screen and (max-width:480px){

  .conteneur-temoignage .article-child:nth-child(4){
    flex: 100%;
  }
  .conteneur-temoignage .article-child:nth-child(5){
    flex: 100%;
  }
  .conteneur-temoignage .article-child:nth-child(6){
    flex: 100%;
  }

  /*Header*/
  
  #header_ordi{
    display: none;
  }
  .nav-container{
    display: block;
  }
  #header_telephone{
    display: flex;
    width: 100%;
    background-color: #fff;
  }
  #header.cache {
    top: -80px;
  }
  #icon_menu{
    width: 150%;
  }
  #menu figcaption{
    margin-left: 0;
    font-size: 65%;
  }
  
  #logo_telephone{
    margin-left: 0%;
  }
  #loupe2{
    width: 8%;
    height: 8%;
    margin: auto;
  
  }
  
  #menu{
    width: 8%;
    height: 8%;
    margin: auto 30px auto 30px;
  }
  
  #recherche_mobile{
    display: none;
  }
  .navm {
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 4;
    background:rgba(0, 0, 0, 0.95);
    position: fixed;
  }
  .navm a{
    text-decoration: none;
    color: #fff;

  }
  #es_pro{
    margin-left: 10% ;
  }
  
  .h2nav {
    text-align: center;
    font-size: 120%;
    margin: 0;
    margin-top: -15%;
    margin-left: 5%;
  }
  
  .liennav {
    font-size: 180%;
  }
  
  ul {
    margin: 0;
    margin-top: 15vh;
    margin-left: -3vw;
    padding: 0;
  }
  
  li{
    text-align: center;
    margin-bottom: 5%;
  }
  
  
  .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 30px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container input[type="checkbox"]:checked~.navm {
    transform: translateX(100%);
    transition: 0.5s;
  }
  
  
  
  .nav-container input[type="checkbox"]:checked {
    transform: translateX(304px);
    transition: 0.5s;
  }
  
  #croix_mobile{
    background-color: #fff;
    border-radius: 100%;
    top: 20px;
    left: 330px;
    position: relative;
    padding: 2px;
  }
  form{
    display: inline-block;
    margin-left: 10%;
    width: 80%;
  }
  form p{
    text-align: center;
  }
  #container_search{
    display: block;
  }
  #search_mobile{
    left:  -100%;
    width: 100%;
    height: 8%;
    top: 68px;
    transition: 0.5s;
    z-index: 2;
    background:rgba(0, 0, 0);
    position: absolute;
  }
  .search{
    height: 100%;
    background-color: black;
  }
  
  .checkbox2 {
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 320px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }
  .checkbox2:checked~#search_mobile{
    transform: translateX(100%);
    transition: 0.5s;
  
  } 
  .checkbox2:checked{
    transform: translateY(200%);
    transition: 0.5s;
  
  }
  #croix_mobile2{
    background-color: #fff;
    border-radius: 100%;
    bottom: 53px;
    left: 320px;
    position: relative;
    padding: 2px;
  }

  .carnet_espace {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    margin: 0%;

  }
  .eurovelo{
    padding-bottom: 5%;
    margin-left: 5px;
    margin-right: 5px;
}
  
  
  .conteneurcarte{
    margin: 0;
    width: 100%;
    flex-direction: initial;
  }
  .descriptif{
    margin-top: 10px;
    width: 100%;
    padding: 1px 10px 1px 10px;
  }
  .descriptif h2{
    font-size: 1.75rem;
  }
  .descriptif img{
    margin-top: 20px;
  }
  .descriptif p{
    width: 100%;
    margin: auto;
    text-align: justify;
  }

  /*avis */

  .avis-child{
    margin: 3%;
  }

  /*avis Formulaire*/
  .avis-formulaire{
    width: 100%;
  }

  #form{
    width: 80%;
    margin: auto;
  }

  /* fleche pour remmonter en version mobile */
  
  .flechemobile{
    display: block;
  }

  /*Footer 1*/

.headfoot{
  margin: 50px 0 0 0;
}
.fcontenu{
  margin: 0;
}
.qsn1{
  margin: 0;
  margin-left: 10px;
}
.qsn2{
  margin: 0 0 0 5px;
}
.logod{
  margin-right: 5px;
}
.quisommesnous{
  display: none;
}
.fboutons{
  margin: auto;
  width: auto;
  display: block;
}
.fboutons p{
  margin: 40px  5px 50px 0;
  width: auto;
  font-size: 0.9em;
}
.btnb{
  margin-left: auto;
}
.fboutons p{
  margin: 0;
  margin-bottom: 1em;
}
/*footer 2*/

.footb{
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
 }
 .ml{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 0;
   width: 100%;}
 .ml ul{
   margin: 5px  0  0 0;
   text-align: left;
 }
 .footb .ml li{
   margin: 0;
 }
 .realisation{
   margin: 23px 5px 0 10px;
 }
 .simplon{
   margin: 20px 0px 0px 5px;
 }
 .logofvt{
   margin-left: 0px;
 }

/* main */
 main .timage{
  height: 50vh;
 }
 main .timage div{
  margin:auto;
  font-size: 2em;
  height: 0;
 }
 main .timage div img{
  display: none;
}
 .conteneur-temoignage{
  padding: 0;
  padding-top: 1em;
  padding-bottom: 1em;
 }
main .aventure div{
  width: 100%;
}


/* article */
main div.conteneur-temoignage .article-child{
  flex: 100%;
  height: auto;
}
.article-child a{
  margin-left: 10px;
  margin-right: 10px;
}
.article-child .image{
  width: 370px;
  height: auto;
}
.article-child:first-child .image{
  width: 370px;
  height: auto;
}
.article-child:nth-child(3) .image{
  width: 370px;
  height: auto;
}
.article-child:nth-child(2) .image{
  width: 370px;
  height: auto;
}
.article-child .lien h4{
  top:65%;
  width: 370px;
}
/* btn article */
.liens-temoignages{
  padding-top: 1em;
  flex-direction: column;
  padding-right: 0;
}
.liens-temoignages a{
  margin: 0;
}
/* avis titre */
div.avis-titre p{
  width: auto;
  padding: 1px;
}

/* avis */

div.conteneur-avis{
  padding: 0;
}
div.conteneur-avis .avis-child{
  width: 100%;
}

}