html{
    scroll-behavior: smooth;
  }
  body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background-color: gray;
    }
  
    /*Header*/
    
    header {
      position: fixed;
      top: 0;
      width: 100%;
      transition: top ease 0.5s;
      z-index: 1;
    }
    #header.cache {
      top: -50px;
    }
    #head {
      background: transparent;
      margin: 0%;
      padding: 0%;
      display: flex;
      height: 50px;
      justify-content: space-between;
    }
    .haut-gauche {
      display: flex;
      width: 50%;
    }
    .haut-gauche a {
      padding: 10px;
      margin-right: 20px;
      background-color: rgba(0, 0, 0, 0.1)
    }
    .haut-gauche a:hover {
      background-color: #007c74;
    }
    form {
      margin: auto;
      color: #fff;
      width: 100%;
    }
    #label{
      margin-left: 10%;
    }
    .email {
      background-color: rgba(0, 0, 0, 0.2);
      border: none;
      border-radius: 5px 0 0 5px;
      padding: 10px;
      width: 165px;
      font-weight: 700;
      font-size: 0.875rem;
      color: #fff;
      margin-left: 1%;
    }
    .email::placeholder{
      color: #fff;
    }
    .submit {
      margin: 0;
      background-color: #007c74;
      border: none;
      font-weight: 600;
      font-size: 0.875rem;
      color: #fff;
      padding: 10px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin-left: -4px;
    }
    .haut-droite{
      display: flex;
      justify-content: space-between;
      width: 35%;
    }
    .haut-droite a{
      text-decoration: none;
      color: #fff;
      margin: auto;
      padding-left: 20px;
    }
    .haut-droite a:hover{
      color: #007c74;
    }
    .carnet{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .carnet:hover .coeur1{
      display: none;
    }
    .carnet:hover .coeur2{
      display: block;
    }
    .coeur2{
      display: none;
    }
    .carnet img{
      margin-right: 2px;
    }
    .espace img{
      width: 27px;
    }
    .espace{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .espace:hover .profil1{
      display: none;
    }
    .espace:hover .profil2{
      display: block;
    }
    .profil2{
      display: none;
    }
    .navigation{
      background: #fff;
      box-shadow: 0 1px 5px gray;
      display: flex;
      height: 80px;
    }
    .euro{
      height: 50px;
      margin: 10%;
      margin-top: 13px;
    }
    .eurovelo{
      height: 50px;
      margin-left: 15px;
      margin-top: 13px;
    }
    .navigation ul{
      width: 100%;
      display: inline-block;
      margin: auto;
      text-align: center;
    }
    .navigation li{
      display: inline;
    }
    .navigation li a{
      text-decoration: none;
      color: black;
      font-weight: 600;
      margin-left: 10%;
    }
    .navigation li a:hover{
      color: #007c74;
    }
    #loupe{
      height: 30%;
      margin-left: 20%;
      margin-right: 1%;
      margin-top: 30px;
    }
    #loupe.afficher {
      display: none;
    }
    #croix {
      display: none;
      height: 30%;
      margin-left: 20%;
      margin-right: 1%;
      margin-top: 33px;
    }
    #croix.afficher {
      display: block;
    }
    #recherche {
      display: none;
      position: fixed;
      z-index: 2;
      width: 100%;
    }
    #recherche.afficher {
      display: block;
    }
      .search{
      width: 100%;
      height: 70px;
      background-color: black;
      padding: 1%;
      color: #fff;
      font-weight: 600;
      font-size: larger;
      border: none;
      border-radius: 5px;
    }
    .search::placeholder{
      color: #fff;
    }
    #lien{
      display: block;
      position: fixed;
      width: 100%;
      z-index: 1;
    }
    #lien.cache{
      display: none;
    }
   
    #lien ol{
      padding: 0%;
    }
    #lien li{
      display: inline;
    }
    #lien li a{
      text-decoration: none;
      font-weight: 600;
      font-size: 0.875rem;
      margin-left: 0%;
      color: #fff;
    }
    #accueil{
      margin-left: 1%;
    }
    
    #accueil::after{
      content: ">";
      color: #fff;
      font-weight: 600;
      display: inline-block;
      margin-left: 5px;
      font-size: 0.8rem;
    }
    
  #header_telephone{
    display: none;
  }
  .nav-container{
    display: none;
  }
  #container_search{
    display: none;
  }

    /* main */

  main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
/* section .timage img ils l'ont fait */
.timage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-size: 70%;
  }
  .timage div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    align-items: center;
    margin: auto;
    margin-top: 40vh;
    color: #fff;
    font-size: 4em;
    font-weight: 700;
  }
  .timage div a{
    z-index: 0;
  }
  .timage div a img{
    width: 1em;
    transform:rotate(90deg);
  }

/* section .aventure  */

  .aventure{
    width: 100%;
    text-align: center;
    background-color: #fff;
  }
  .aventure div{
    width: 50%;
    margin: auto;
  }
  .aventure h2{
    margin-top: 10%;
    font-size: 2.6em;
    font-weight: 300;
  }
   .aventure h2 span{
    color:#007c74;
  }
  .aventure p{
    color: #585858;
    line-height: 1.5em;
    font-size: 1.1em;
    font-weight: 500;
  }

/* Avis */
.conteneur{
  background-color: #fff;
  padding-bottom: 3%;
}

.article-child .Titre2{
    text-align: center;
    font-size: 42px;
    padding-top: 1%;
}

.article-child .Texte{
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    margin-bottom: 3%;
    line-height: 25px;
}

.Div-avis{
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
}

.Div-avis p{
  position: absolute;
  background-color: rgb(255, 175, 16);
  width: 28%;
  margin-left: 31%;
  padding: 3%;
  border-radius: 5px;
  line-height: 25px;
  color: white;
  box-shadow: 1px 1px 3px  #262626;

}

.Div-avis img{
  position: relative;
}



  /*Footer haut*/

.footh{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: url(/images/imagesbg/flou3.jpg);
  backdrop-filter: blur(8px);
  background-size: cover;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.qsn1 {
  width: 65px;
  height: 65px;
  margin-top: 40px;
}
.qsn2 {
  height: 65px;
  margin-left: 11px;
}
.headfoot{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 300px;
  margin-right: 300px;
  align-items: center;
  justify-content: space-between;
}
.logod img{
  width: 25px;
  margin-right: 5px;
  
}
.fcontenu{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 300px;
  margin-right: 300px;
}
.fcontenu p{
  line-height: 28px;
  font-weight: bold;
}
.quisommesnous{
  width: 60%;
}
.quisommesnous h3{
  font-size: 1.8em;
}
.fboutons{
  display: flex;
  flex-direction: row;
  width: 100%;
}
a.btnb{
  margin-left: 320px;
  text-decoration: none;
  width: 180px;
}
.fboutons a {
  text-decoration: none;
  font-weight: bold;
  height: min-content;
  margin-top: 40px;
}

.btnb p {
  color: #007c74;
  background-color: white;
  width: 140px;
  display: block;
  padding: 7px 20px 7px 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 0px 5px lightslategray;
}

.btnb p:hover {
  box-shadow: 0px 0px 6px #007c74;
}
.btnv p {
  color: white;
  background-color: #007c74;
  width: 240px;
  display: block;
  padding: 7px 20px 7px 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 0px 5px lightslategray;
}
.btnv{
  width: 280px;
  margin-left: 30px;
}
.btnv p:hover {
  box-shadow: 0px 0px 6px white;
}

/* footer mentions légales */

.footb{
  display: flex;
  width: 100%;
  background-color: black;
}
.footb .ml a{
  text-decoration: none;
  color: white;
  display: inline;
  margin-left: 10px;
}
.footb .ml li{
  text-decoration: none;
  color: white;
  display: inline;
  margin-left: 10px;
}
.ml ul{
  font-size: 12px;
  margin-left: 280px;
  font-weight: bold;
  margin-top: 26px;
  padding-left: 0;
}
.realisation{
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: auto;
  margin-left: 740px;
  margin-right: 10px;
}
.logofvt img{
  width: 145px;
}
.logofvt{
  margin-top: auto;
  margin-bottom: auto;
}
.simplon img{
 width: 90px;
}
.simplon{
  margin-top: auto;
  margin-bottom: auto;}



  /*Responsive tablette*/


@media screen and (max-width:1080px) {

  /*Header*/
  .haut-droite{
    width: 45%;
  }
  .haut-gauche{
    width: 55%;
  }
  #label{
    display: none;
  }
  #Newsletter{
    display: inline;
  }
  /*Main*/
  
  .article-child .Texte{
    padding: 0%;
    margin: auto;
    width: 80%;
  }
  .fond{
    display: none;
  }
  .Div-avis{
    margin-left: 15%;
  }
  .Div-avis p{
    margin-left: 40%;
    width: 30%;
  }
   /* footer */
 .headfoot{
  margin: 0 2% 0 2%;
  vertical-align: middle;
}
.qsn1{
  margin: 0;
}
.logog{
  margin-top: 1%;
}
.logod{
  margin-top: 1px;
}
.fcontenu{
  width: 100vw;
  margin: 0;
  flex-wrap: wrap;
}
.quisommesnous h3{
  margin: 0 3% 0 3%;
}
.quisommesnous p{
  margin: 0 3% 0 3%;
  width: 100vw;
}
.fboutons{
  width: 100vw;
  justify-content: space-around;
  margin: 0;
}
.fboutons a{
  margin: auto;
}
footer{
  width: 100vw;
}
.footh{
  width: 100vw;
}
.footm1{
  margin: 0;
  width: 100vw;
  justify-content: space-between;
}
.presentation li{
  margin: 0 10% 0 3%;
}
.suggestions{
  margin-left: 15%;
}
.conseils{
  margin-left: 15%;
}
.footm2{
  flex-wrap: wrap;
  justify-content: space-between;
}
.veloacc{
  margin: 1% 1% 1% 1.5%;
}
.velotext h4{
  margin: 0;
}
.velotext{
  padding: 0;
  margin: 2.5% 1% 0 0;
  width: 89vw;
}
.boutons{
  margin: auto;
}
.btn2 p{
  margin: 0;
}
.btn1 {
  margin: 0 10% 0 0;
}
.btn2{
  margin: 0 0 0 0;
}
.footb .ml li{
 margin: 0;
}
.realisation{
   margin: 2.2% 1% 0 25%;
}
.footb ul{
  margin: 5% 0 0 0;
  padding: 0;
}
  }


   /*Responsive téléphone*/

@media screen and (max-width:480px) {

  /* Actu */
.conteneur{
  background-color: rgb(255, 255, 255);
}

.Titre{
  text-align: center;
  font-size: 40px;
}

.article-child .Texte{
    padding-left: 5%;
    padding-right: 5%;
}

.Div-avis{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.Div-avis p{
  position: initial;
  background-color: #f59c00;
  width: 90%;
  border-radius: 5px;
  line-height: 25px;
  margin-left: 2%;
  color: white;
  box-shadow: 1px 1px 3px  #262626;
}

.Div-avis img{
  position: static;
  width: 100%;
}

  /*Header*/

  #header_ordi {
    display: none;
  }

  .nav-container {
    display: block;
  }

  #header_telephone {
    display: flex;
    width: 100%;
    background-color: #fff;
  }

  #header.cache {
    top: -80px;
  }

  #icon_menu {
    width: 150%;
  }

  #menu figcaption {
    margin-left: 0;
    font-size: 65%;
  }

  #logo_telephone {
    margin-left: 0%;
  }

  #loupe2 {
    width: 8%;
    height: 8%;
    margin: auto;

  }

  #menu {
    width: 8%;
    height: 8%;
    margin: auto 30px auto 30px;
  }

  #recherche_mobile {
    display: none;
  }

  .navm {
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 4;
    background: rgba(0, 0, 0, 0.95);
    position: fixed;
  }

  #es_pro {
    margin-left: 8%;
  }

  .h2nav {
    text-align: center;
    font-size: 120%;
    margin: 0;
    margin-top: -15%;
    margin-left: 5%;
  }



  #navm_ul {
    margin: 0;
    margin-top: 15vh;
    margin-left: -3vw;
    padding: 0;
  }

  .liennav {
    text-align: center;
    margin-bottom: 5%;
    font-size: 180%;
  }


  .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 30px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container input[type="checkbox"]:checked~.navm {
    transform: translateX(100%);
    transition: 0.5s;
  }



  .nav-container input[type="checkbox"]:checked {
    transform: translateX(310px);
    transition: 0.5s;
  }

  #croix_mobile {
    background-color: #fff;
    border-radius: 100%;
    top: 20px;
    left: 330px;
    position: relative;
    padding: 2px;
  }

  form {
    display: inline-block;
    margin-left: 10%;
    width: 80%;
  }

  form p {
    text-align: center;
  }

  #container_search {
    display: block;
  }

  #search_mobile {
    left: -100%;
    width: 100%;
    height: 8%;
    top: 68px;
    transition: 0.5s;
    z-index: 2;
    background: rgba(0, 0, 0);
    position: absolute;
  }

  .search {
    height: 100%;
    background-color: black;
  }

  .checkbox2 {
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 320px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }

  .checkbox2:checked~#search_mobile {
    transform: translateX(100%);
    transition: 0.5s;

  }

  .checkbox2:checked {
    transform: translateY(200%);
    transition: 0.5s;

  }

  #croix_mobile2 {
    background-color: #fff;
    border-radius: 100%;
    bottom: 53px;
    left: 320px;
    position: relative;
    padding: 2px;
  }

  .carnet_espace {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    margin: 0%;

  }

  #lien{
      display: none;
  }

  .eurovelo{
      padding-bottom: 5%;
      margin-left: 5px;
      margin-right: 5px;
  }
  .liennav a{
    color: #fff;
    text-decoration: none;
  }
  #es_pro{
    color: #fff;
    text-decoration: none;
  }
  .carnet_espace{
    color: #fff;
    text-decoration: none;
  }
  form{
    color: #fff;
  }
  .email::placeholder{
    color: #fff;
  }
  /*Footer 1*/

.headfoot{
  margin: 50px 0 0 0;
}
.fcontenu{
  margin: 0;
}
.qsn1{
  margin: 0;
  margin-left: 10px;
}
.qsn2{
  margin: 0 0 0 5px;
}
.logod{
  margin-right: 5px;
}
.quisommesnous{
  display: none;
}
.fboutons{
  margin: auto;
  width: auto;
  display: block;
}
.fboutons p{
  margin: 40px  5px 50px 0;
  width: auto;
  font-size: 0.9em;
}
.btnb{
  margin-left: auto;
}
.fboutons p{
  margin: 0;
  margin-bottom: 1em;
}
/*footer 2*/

.footb{
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 
 }
 .ml{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 0;
   width: 100%;}
 .ml ul{
   margin: 5px  0  0 0;
   text-align: left;
 }
 .footb .ml li{
   margin: 0;
 }
 .realisation{
   margin: 23px 5px 0 10px;
 }
 .simplon{
   margin: 20px 0px 0px 5px;
 }
 .logofvt{
   margin-left: 0px;
 }
}